email/src/main/mule/email.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5486d063-146c-4191-9b29-e954722ee1d9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="26ee8e9b-94a1-45fa-85ba-7c2856b65055" >
		<email:smtp-connection host="smtp.gmail.com" user="mule4hyd@gmail.com" password="6Tfcvgy7@" port="587">
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="emailFlow" doc:id="c02d41ae-f858-4670-9e59-f91015075412" >
		<scheduler doc:name="Scheduler" doc:id="d2e26bd6-a5c0-428e-8189-799e0868e852" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="a3bb9d0b-355e-484a-ac45-404a8c2c2d2e" message="#[payload]"/>
		<email:send doc:name="Send" doc:id="63507da6-f189-4539-a042-ce2a16eb3a85" config-ref="Email_SMTP" fromAddress="mule4hyd@gmail.com" subject="#['job done']">
			<email:to-addresses >
				<email:to-address value="mule4hyd@gmail.com" />
			</email:to-addresses>
		</email:send>
		<logger level="INFO" doc:name="Logger" doc:id="f0f06ce0-9ad7-4081-857a-85756f955248" message="#[payload]"/>
	</flow>
</mule>
